[
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/03f6b95916fc0b4"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/08b384e5ae2c503"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/15a4a288e490245"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/182baad143a3557"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/1f2f3105790536d"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/22bafe4b10b3f18"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/2ed96a226d741df"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/35e6d4270a9afea"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/3c57e79f5a04daa"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/3d1ade82c0a9045"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/3e0516f4a4d33c5"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/46a5810c3b3e513"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/4828c04422b478e"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/4c96db9c841263a"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/4f39d56958b24ee"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/56c0fcc9bbd6f98"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/572295e14d165a6"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/57cdd3ab953f798"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/588b7911215dbbf"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/5e215678418f7b8"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/64ccbd20756b65e"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/69788bd5dbc0bf5"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/6d0d25a4d9e173a"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/70272c426ed63eb"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/717b1f230ff9152"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/719c88601352cd0"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/7febef4e4c0be1a"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/832cabde77dfde8"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/8f0c38090f15222"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/9300a77ed2b4f55"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/9a5b630ecd7a420"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/9a84aaec3d77ca2"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/a58ed20e0996c8a"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/abad5f34045a67c"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/acffc3abacbcd87"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/b24709f29f35865"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/b83cfe6f982e3ff"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/c81bb701baf6bc4"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/d8e92dc5daaeef5"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/e91aae8ab1bd68a"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/f068f61dec2f75f"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/ff40f3854570ff0"
                }
            ]
        }
}
]
