[
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/09086bb668fdabe"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/0dccd363da7e7fc"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/134411c409d5db4"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/163f50287670122"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/1b08441e6273431"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/205b13e22bb0f47"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/2518769984ca2de"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/29df9e2c960cea3"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/3b099889d7e147f"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/5e300bc6926e578"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/6c3750f3c8f6204"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/6d277dfb2006cdc"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/6ed9e4e5679e9e6"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/717b1f230ff9152"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/743b1bdf91e443e"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/84502fda35d2266"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/84e1873f3a4683f"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/9b59f2a7202ac48"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/9caae0410349f3b"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/a248889b20fd94b"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/aa0823d6d935e0f"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/aa23b657b8a63b7"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/b36b9b1f6dc734b"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/c4f66672b486b16"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/d2521e926bdd1bd"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/d6cd98a42630f09"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/d76e5b74845a443"
                }
            ]
        }
},
{
        "files": [
            "CPool_bistro-matic_2019/division.c",
            "CPool_bistro-matic_2019/eval_expr.c",
            "CPool_bistro-matic_2019/infin_add.c",
            "CPool_bistro-matic_2019/infin_sub.c",
            "CPool_bistro-matic_2019/main2.c",
            "CPool_bistro-matic_2019/modulo.c",
            "CPool_bistro-matic_2019/my_str_to_word_array.c",
            "CPool_bistro-matic_2019/parentheses.c",
            "CPool_bistro-matic_2019/product.c",
            "CPool_bistro-matic_2019/src/analyse_string.c",
            "CPool_bistro-matic_2019/src/clear_string.c",
            "CPool_bistro-matic_2019/src/errors.c",
            "CPool_bistro-matic_2019/src/my_revstr.c",
            "CPool_bistro-matic_2019/src/power_of_ten.c",
            "CPool_bistro-matic_2019/src/my_strcat.c"
        ],
        "machdep": "gcc_x86_64",
        "compilation_cmd": "-ICPool_bistro-matic_2019",
        "filesystem": {
            "files": [
                {
                    "name": "inputs/input",
                    "from": "CPool_bistro-matic_2019/corpus/fdb8732b17f6318"
                }
            ]
        }
}
]
